nav, main, footer{
	margin: 0%;
	padding: 0%;
}
body{
	background-image: url("../images/background.jpg");
	min-height: 100vh;
}

nav ul{
	list-style-type: none;
	margin: 0;
	text-align: center;
}
nav li{
	display: inline-block;
	font-size: 1.75em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}
nav li a{
	display: block;
	color: #e5e6e6;
	text-align: center;
	padding: .5em 1em;
	text-decoration: none;
}
.selected{
	text-decoration:underline;
}
header{
	text-align: center;
	color: #e5e6e6;
}
nav{
	border-top: 2px solid #e5e6e6;
	border-bottom: 2px solid #e5e6e6;
	margin-bottom: 10px;
	
}
#personalimg img{
		max-width:25%;
		display: block;
		float: left;
		margin: 0 15%
}
#contacts{
	text-align: center;
}
#emailpic img{
	max-width: 100%;
	padding: 1%;
}
#phonepic img{
	max-width: 100%;
	padding: 1%;
}
#emailpic, #contacts, #phonepic{
	width: 29%;
	float: left;
	margin: 0 2%;
}
footer{
	clear: float;
	border-top: 3px solid #323434;
	margin-top: 10px;
}
main{
	overflow: auto;
	flex: 1;
}
main h2, li{
	color: #e5e6e6;
}
#shoebill img{
	width: 25%;
	float: left;
	margin: 0 3%;
	border: 10px solid #000;
}
#s2{
	float: left;
	margin: 0 5%;
	width: 25%;
	text-align: center;
}
#s2 img{
	width: 100%;
	border: 10px solid #000;
}
#s3 img{
	width: 25%;
	float: right;
	margin: 0 3%;
	border: 10px solid #000;
}