/* 
    Student's Name: Nathan Firlik
    Date: 10/19/2023
    File Name: index.html
*/
body {
    background-color: #dde3fd;
}

#container {
    padding-bottom: 500px;
}

.box {
    border: 1px solid #000;
    margin: 2%;
    padding: 2%;
    background-color: #798ef6;
    color: #091034;
    width: 400px;
    height: 170px;
}

/* sticky */
.sticky{
	position: sticky;
	top: 0;
}

/* relative */
.relative{
	position: relative;
	top: 90px;
	left: 30px;
}

/* fixed */
.fixed{
	position: fixed;
	top: 90px;
	right: 10px;
}

/* absolute */
.absolute{
	position: absolute;
	bottom: 0;
	right: 0;
}