/* 
    Student's Name: Nathan Firlik
    Date: 10/19/2023
    File Name: style.css
 */

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and images */
body {
	background-color: #F0F8FF;
}
img{
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */
/*.mobile{
	display: block;
}*/

/* Style rule to hide tablet-desk class */
#tablet-desk{
	display: none;
}
/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
    padding: 3%;
    color: #092834;
    margin-top: 5%;
}

/* Style rules for nav */
nav {
	padding: 1%;
    margin-bottom: 1%;
    background-color: #67afcb;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

nav ul {
    text-align: center;
	list-style-type: none;
}

nav li {
    font-size: 1.5em;
    padding: 4%;
	display: inline-block;
/*	font-family: 'B612'; */
}

nav li a {
    display: block;
    color: #092834;
    text-decoration: none;
}

/* Style rules for main content  */
main {
	display: block;
	margin: 1% 1% 15%;
	padding: 1%;
    font-size: 1.5em;
/*	font-family: 'Crimson';*/
}
.corner{
	border-radius: 12px;
}
#image {
	margin-bottom: 1%;
}

/* Style rule for footer */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}